.custom-toggle {
  --clr-inactive: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  font-size: 14px;
  background-color: white;
  display: flex;
  align-items: center;
  isolation: isolate;
  z-index: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
  
}

.custom-toggle:hover {
  border-color: black;
}

.custom-toggle__input {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.custom-toggle__knob {
  position: absolute;
  z-index: 0;
  width: 28px;
  height: 28px;
  background-color: black;
  border-radius: 50%;
  left: -2px;
  top: 50%;
  translate: 0 -50%;
  z-index: 0;
  transition: 0.3s;
}

.custom-toggle__input:checked ~ .custom-toggle__knob {
  left: 50%;
}

.custom-toggle__option {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.custom-toggle__option_left {
  color: white;
  translate: -1px 0;
}
.custom-toggle__option_right {
  translate: 1px 0;
  color: var(--clr-inactive)
}

.custom-toggle__input:checked ~ .custom-toggle__option_left {
  color: var(--clr-inactive);
}

.custom-toggle__input:checked ~ .custom-toggle__option_right {
  color: white;
}