.item-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.item-card__name {
  position: absolute;
  background-color: white;
  padding: 2px 12px;
  border-radius: 8px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
  left: 50%;
  translate: -50% 0;
  top: 15px;
  text-align: center;
}

.item-card__image {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}
