.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main__advisory {
  margin-block: 40px 34px;
  font-size: 20px;
  align-self: flex-start;
}

.main__clothing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .main__advisory {
    margin-block: 32px 20px;
  }

  .main__clothing {
    gap: 15px;
    justify-items: center;
  }
}
