.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main__advisory {
  margin-block: 40px 34px;
  font-size: 20px;
  align-self: flex-start;
}

.main__clothing {
  display: grid;
  grid-template-columns: repeat(4, minmax(164px, 325px));
  gap: 20px;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .main__advisory {
    margin-block: 32px 20px;
  }

  .main__clothing {
    gap: 15px;
    justify-content: start;
    grid-template-columns: repeat(3, minmax(164px, 325px));
  }
}

@media screen and (max-width: 630px) {
  .main__clothing {
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
    justify-content: center;
  }
}