.main {
  flex-grow: 1;
}

.main__advisory {
  margin-block: 40px 34px;
  font-size: 20px;
}

.main__clothing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .main__advisory {
    margin-block: 32px 20px;
  }

  .main__clothing {
    gap: 15px;
  }
}
